::ng-deep .bg-gradient-danger {
    background: linear-gradient(
87deg
, #5f36f5 0, #3672f5 100%) !important;
}

.editFont {
    color:black
}

.example-margin {
    margin: 150px auto;
  }

  .search {
    font-size: 20px;
    margin:10px;
    color: #fff
  }